{% extends "base.html.twig" %}
{% block body %}
	<div class="container">
	<header class="d-flex flex-column flex-md-row align-items-md-center p-5 bg-light">
		<div class="pt-md-3 pb-md-4">
			<h1 class="display-4">Time Card</h1>
			<p class="lead">
				Accoring to wikipedia, A timesheet is a method for recording the amount of a worker's time spent on each job. Traditionally a sheet of paper with the data arranged in tabular format, a timesheet is now often a digital document or spreadsheet. The time cards stamped by time clocks can serve as a timesheet or provide the data to fill one.
			</p>
			<a class="btn btn-primary btn-lg" href="">Get started!.</a>
		</div>
	</header>
	</div>
{% endblock %}
